    .image-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
  
  .image-section-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  